@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #76564B;
    font-family: 'Snowburst One', cursive;
}

h1 {
    color: #FEFCE7;
    text-align: center;
    font-size: 72px;
}

.color-blue {
    color: #68BDFB;
}

.color-red {
    color: #FA0404;
}
@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}